<div>
<p class="text-4xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis corporis doloribus dicta recusandae maxime? Ullam harum modi neque ut, quam iste, eos voluptates fugiat magni pariatur aspernatur sapiente temporibus magnam.</p>
</div>