{% extends "layouts/base.twig" %}
{% block content %}
     {% if posts is not empty %}
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
        <ul>
    {% endif %}
{% endblock %}