// Colors
$bg_color: #31374F;
$blue: #3D4563;
$white: #FFFFFF;
$turquoise: #00ebcf;
$gray: #A6B4E9;

// Typography
$font_base: 'Lora', serif;
$font_heading: 'Poppins', sans-serif;


// Font Sizes
$base: 1rem; // 18px defined on reset.scss file